<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sly.demo.importpic.mapper.ByteArrayMapper">
	<!--  -->
	<update id="importPic" parameterType="com.sly.demo.importpic.model.ByteArray">
		UPDATE `act_ge_bytearray` SET BYTES_=#{bytes} WHERE ID_=#{id}
	</update>
</mapper>